<div class="container-fluid">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-10">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Learning Agreement Auslandssemester</h5>
          <h6 class="card-subtitle mb-2 text-muted">QUT Brisbane University</h6>
          <ul>
            <li>Aussteller: HS Karlsruhe</li>
            <li>Einstelldatum: 20.02.2020</li>
            <li>Ablaufdatum: 20.08.2020</li>
          </ul>
          <a href="#" class="card-link float-right">Löschen</a>
          <a href="#" class="card-link float-right">Erinnerung einstellen</a>
          <a href="#" class="card-link float-right">Bearbeiten</a>
        </div>
      </div>
    </div>
  </div>
</div>
