<html>
  <p>Hi {{name}},</p>
  <p>leider wurde dein Learning Agreement abgelehnt. In der unten stehenden Tabelle, kannst du Informationen finden warum.</p>
  <table>
    <tr>
      <th>Kurs Heimuniversität</th>
      <th>Credit Points</th>
      <th>Kurs Zieliversität</th>
      <th>Credit Points</th>
      <th>Kommentar</th>
    </tr>
    <!--{{REPEATED_LIST_OF_COURSES}}--><tr><td>{{courseHomeUniversityName}}</td><td>{{courseHomeUniversityCreditPoints}}</td><td>{{courseTargetUniversityName}}</td><td>{{courseTargetUniversityCreditPoints}}</td><td>{{comment}}</td></tr><!--{{REPEATED_LIST_OF_COURSES}}-->
  </table>
  <p></p>
  <p>Kind regards,</p>
  <p>HS Karlsruhe</p>
</html>
