<html>
<p>Dear colleague,</p>

<table>
  <tr><th>Task</th><th>ID</th><th>Duration</th><th>Planned End Date</th><th>Planned End Time</th><th>Responsible</th><th>Processor</th><th>Link</th></tr>
  <!--{{REPEATED_LIST_OF_COURSES}}--><tr><td>{{TSK_NAME}}</td><td>{{TSK_ID}}</td><td>{{PLAN_DURATION}}</td><td>{{SCH_END_DT}}</td><td>{{SCH_END_TM}}</td><td>{{RESP_VAL}}</td><td>{{PRO_VAL}}</td><td><a href="{{TSK_URL}}">Link</a> </td></tr><!--{{REPEATED_LIST_OF_COURSES}}-->
</table>
<p></p>
<p>Kind regards,</p>
<p>HS Karlsruhe DE</p>
</html>
