<html>
  <h6>Informationen zu Ihrem eingereichten Learning Agreement</h6>
  <p>Sehr geehrter.{{preName}} {{name}},</p>
  <p>Leider wurde Ihr eingereichtes Learning Agreement für die {{partnerUniversity.name}} abgelehnt.</p>
  <p>Der verantwortliche Beauftragte hat Ihnen folgende Kommentare hinterlassen:</p>
  <table>
    <tr>
      <th>Kurs Heimuniversität</th>
      <th>Credit Points</th>
      <th>Kurs Zieliversität</th>
      <th>Credit Points</th>
      <th>Kommentar</th>
    </tr>
    <!--{{REPEATED_LIST_OF_COURSES}}--><tr><td>{{courseHomeUniversityName}}</td><td>{{courseHomeUniversityCreditPoints}}</td><td>{{courseTargetUniversityName}}</td><td>{{courseTargetUniversityCreditPoints}}</td><td>{{comment}}</td></tr><!--{{REPEATED_LIST_OF_COURSES}}-->
  </table>
  <p></p>
  <p>Mit freundlichen Grüßen</p>
  <h6>Hochschule Karlsruhe - Technik und Wirtschaft</h6>
</html>
